.bar{
    background-color: hsl(220, 44%, 68%);
    height:200vh;
    width: 18rem;
    border-radius: 5px;
    
    
}

.section{
    display: flex;
    margin-bottom: 4rem;
    

}

.name{
    margin-left: 1.1rem;
    margin-top: 1.5rem;
    color:black;
}
.img{
    margin-left: .7rem;
    margin-top: .7rem;
}


a{
    text-decoration: none;
    padding-bottom: 1rem;
    color: white;
    margin-bottom: 10rem;
}
.home{
    margin-bottom: 2.5rem;
    margin-left: 2rem;
    
    
}
.banks{
    margin-bottom: 2.5rem;
    margin-left: 2rem;
}
.history{
    margin-bottom: 2.5rem;
    margin-left: 2rem;
}
.transfer{
    margin-bottom: 2.5rem;
    margin-left: 2rem;
}
.homeimg{
    margin-bottom: -.3rem;
    margin-right: .7rem;

}
.bank{
    margin-bottom: -.3rem;
    margin-right: .7rem;
}
.historys{
    margin-bottom: -.3rem;
    margin-right: .7rem;
}
.transfers{
    margin-bottom: -.3rem;
    margin-right: .7rem;
    
}
.homelink{
    margin-left: .2rem;
    font-size: .88rem;

}
.banklink{
    margin-left: .5rem;
    font-size: .88rem;
    

}
.historylink{
    margin-left: .5rem;
    font-size: .88rem;
}
.transferlink{
    margin-left: .6rem;
    font-size: .88rem;
}
@media(max-width:50em){
    .bar{
        display: none;
    }
}